<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <span><%= pkg.name %></span>
    <small class="text-muted"><%= pkg.version %></small>
  </a>
  <ul class="navbar-nav ml-auto d-flex flex-row">
    <li class="nav-item px-3">
      <a class="nav-link" href="/logs">
        Logs
      </a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="/debug">
        Debug
      </a>
    </li>
  </ul>
</nav>
